.cnfy_wrapper {
  background: #fff3e0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  z-index: 2147483649;

  &.cnfy_active {
    display: block;
  }
}

.cnfy_closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2147483650;
}

.cnfy_formContainer {
  display: flex;
  height: 100vh;
}

.cnfy_formContent {
  align-self: center;
  width: 100%;
}

.cnfy_noResponse {
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 36px;
}

.cnfy_divider {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  opacity: 1;
}

.cnfy_divider hr {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgba($color: #ddd, $alpha: 0.85);
}

.cnfy_input {}

input[type="text"].cnfy_input::-webkit-input-placeholder {
  color: #999;
}

textarea.cnfy_input::-webkit-input-placeholder {
  color: #999;
}

.cnfy_chat {
  height: 100vh;
  width: 100%;
}

.cnfy_chat .cnfy_cdms {
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

.cnfy_chat .cnfy_cdms .cnfy_list {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: flex-end;
  // padding: 2em 0;
}

.cnfy_chat .cnfy_cdms .cnfy_list .cnfy_row {
  // width: 100%;
  padding: 0.2em 0;
  display: flex;
  padding-right: 1em;
}

.cnfy_row.outgoing {
  justify-content: flex-end;
  text-align: right;
}

.cnfy_row.pending {
  justify-content: flex-end;
  text-align: right;
  opacity: 0.5;
}

.cnfy_cdm {
  max-width: 60%;
  background: #fff;
  padding: 0.4em 1em;
  border-radius: 10px;
  font-size: 1.2em;
  white-space: pre-wrap;
  color: #333!important;
}

.cnfy_chat .cnfy_message {
  display: flex;
  width: 100%;
}


.cnfy_chat .cnfy_message .cnfy_textarea {
  flex-grow: 1;
}

.cnfy_chat .cnfy_message .cnfy_sendBtn {
  padding-left: 2em;
  padding-right: 1em;
  text-align: right;
}