<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <div class="page">
    <button id="cdm-chat-open">Написать консультанту</button>
    <div id="app" class="app" data-prop-fundpubkey="CSBdzYRn3NyB1C4kn9yi1bAnxDu1wgdKDvfg1f6qZg6p" data-prop-soundpath="./assets/notification.mp3" data-prop-starttime="15" data-prop-endtime="22"></div>
  </div>
  <script src="/bundle.js"></script>
  <script type="text/javascript">
    document.getElementById('cdm-chat-open').addEventListener('click', window.changeChatState)
  </script>
</body>

</html>