<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="height: 100000px;">
  <div class="page">
    <button id="cdm-chat-open">Написать консультанту</button>
    <div
      id="cnfy_app"
      class="cnfy_app"
      data-prop-fundpubkey="Ewk2Muong89arxc9uFimEZmy7TQ4kqJuPdjCTgwXJFch"
      data-prop-soundpath="https://www.твоятерритория.онлайн/wp-content/themes/salient/assets/notification.mp3"
      data-prop-starttime="5"
      data-prop-endtime="22"
    ></div>
  </div>
  <script src="/bundle.js"></script>
  <script type="text/javascript">
    document.getElementById('cdm-chat-open').addEventListener('click', window.changeChatState)
  </script>
</body>

</html>